@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root{
  --blue:#577fbe;
  --black:#130f40;
  --light-color:#666;
  --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);    
  --border:.2rem solid rgba(0,0,0,.1);
  --outline:.1rem solid rgba(0,0,0,.1);
  --outline-hover:.2rem solid var(--black);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  outline: none; border:none;
  text-transform: capitalize;
}
html{
  font-size: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}
body {
  background-color: #fff;
  width: auto;
}
nav {
  background-color: var(--blue);
  position: relative;
  display: flex;
  max-width: 100%;
  margin: 0% auto;
  height: 90px;
  align-items: center;
  justify-content: space-between;
}
.content {
  width: 100%;
}
nav .content {
  display: flex;
  align-items: center;
}
.btn1{
  margin-top: 1rem;
  display: inline-block;
  padding:.8rem 3rem;
  font-size: 1.7rem;
  border-radius: .5rem;
  border:.2rem solid var(--black);
  color:var(--black);
  cursor: pointer;
  background: none;
}
.content .icons div{
  position: absolute;
  top: 50%;
  right: 0%;
  margin-right: 8%;
  transform: translate(-50%,-50%);
  color: #fff;
  padding: 4px 4px;
  font-size:24px;
  cursor: pointer;
  text-align: center;
}
.content .login-form{
  position: absolute;
  top:110%; right:-110%;
  width:35rem;
  padding:2rem;
  border-radius: .5rem;
  background: #fff;
  text-align: center;
}
.content .login-form ::placeholder{
  color: var(--black);
}
.content .login-form.active{
  right:2rem;
  transition: .4s linear;
}
.content .login-form h3{
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--black);
}
.content .login-form .box{
  width: 100%;
  margin:.7rem 0;
  background:#eee;
  border-radius: .5rem;
  padding:1rem;
  font-size: 1.6rem;
  color:var(--black);
  text-transform: none;
}
.content .login-form p{
  font-size: 1.4rem;
  padding:.5rem 0;
  color:var(--light-color);
}
.content .login-form p a{
  color:var(--blue);
  text-decoration: underline;
}
.dropdown {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 4%;
}
.pets ul {
  position:absolute;
  background: white;
  margin-top: 10px;
  width: 80px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  list-style: none;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: all 0.3s ease;
}
.pets a {
  color: black;
  text-decoration: none;
}
.pets li {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.pets li:hover {
  background-color: rgb(137, 173, 231);
  pointer-events: auto;
}
.dropdown button,
.navbtns button{
  background: none;
  border: none;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.dropdown button:hover {
  background: #476daa;
  transition: all 0.3s ease;
  color: #fff
}
.navbtns li {
  background: #fff;
  transition: all 0.3s ease;
  font-size: 16px;
}
.pets button:focus + ul {
  opacity: 1;
  pointer-events: all;
  transform:translateY(0px)
}
.white {
  color: white;
}
/* Search box start*/
.search-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background:#476daa;
  height: 40px;
  border-radius: 40px;
  box-sizing: content-box;
}
.search-box:hover> .txt {
  width: 300px;
  padding: 0 6px;
}
.search-box:hover> .btn {
  background: #476daa;
}
.btn {
  color: var(--blue);
  float: right;
  width: 40px;
  height: 40px;
  border-radius:  50%;
  background: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
}
.btn> i {
  font-size: 30px;
  color: #fff;
}
.txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: #fff;
  font-size: 16px;
  transition: 0.3s;
  line-height: 40px;
  width: 0px;
  font-weight: bold;
}
::placeholder {
  color: #fff;
}
/* Shopping cart start*/
.shopping-cart{
  position: absolute;
  top: 50%;
  right: 0%;
  margin-right: 4%;
  transform: translate(-50%,-50%);
  color: white;
  padding: 4px 4px;
  font-size:24px;
}
.fa-shopping-cart{
color:#fff; 
background-color: var(--blue);
border: none;
cursor: pointer;
}
/*Logo start*/
.logo_img {
  height: auto;
  width: auto;
  max-height: 82px;
  max-width: 350px;
  filter: invert(95%) sepia(5%) saturate(0%) hue-rotate(52deg) brightness(104%) contrast(107%);
  padding-left: 30px;
}
.content .logo a {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}


/** VARIABLES **/

:root {
  --header-height: 5rem;

  /* colors */
  
  --hue: 259;
  /* HSL color mode */
  
  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);

  /* fonts */
  
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;

  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}
.title {
  font: 700 1.875rem var(--title-font);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

.button {
  background-color: var(--base-color);
  color: var(--text-color-light);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem var(--body-font);
  transition: background 0.3s;
}

.button:hover {
  background: var(--base-color-alt);
}

.divider-1 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 36%, 52%, 1),
    hsla(var(--hue), 65%, 88%, 0.34)
  );
}

.divider-2 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 65%, 88%, 0.34),
    hsla(var(--hue), 36%, 52%, 1)
  );
}

/**layout**/

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding: calc(5rem + var(--header-height)) 0;
}

.section .title {
  margin-bottom: 1rem;
}

.section .subtitle {
  font-size: var(--subtitle-font-size);
}

.section header {
  margin-bottom: 4rem;
}

.section header strong {
  color: var(--base-color);
}

#header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  display: flex;

  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
}

#header.scroll {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}



/*Footer Start*/
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
  padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: var(--blue);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}


/** HOME **/

#home {
  overflow: hidden;
}

#home .container {
  margin: 0;
}

#home .image {
  position: relative;
}

#home .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--base-color-second);
  position: absolute;
  top: -16.8%;
  left: 16.7%;
  z-index: 0;
}

#home .image img {
  position: relative;
  right: 2.93rem;
}

#home .image img,
#home .image::before {
  border-radius: 0.25rem;
}

#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#home .text h1 {
  margin-bottom: 1rem;
}

#home .text p {
  margin-bottom: 2rem;
}



/**ABOUT**/

#about {
  background: white;
}

#about .container {
  margin: 0;
}

#about .image {
  position: relative;
}

#about .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--base-color-second);
  position: absolute;
  top: -8.3%;
  left: -33%;
  z-index: 0;
}

#about .image img {
  position: relative;
}

#about .image img,
#about .image::before {
  border-radius: 0.25rem;
}

#about .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}


/*TESTIMONIALS*/

#testimonials {
  background: white;
}

#testimonials .container {
  margin-left: 0;
  margin-right: 0;
}

#testimonials header {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 0;
}

#testimonials blockquote {
  padding: 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem;
}

#testimonials blockquote p {
  position: relative;
  text-indent: 1.875rem;
  margin-bottom: 1.5rem;
  color: var(--title-color);
}

#testimonials blockquote p span {
  font: 700 3rem serif;
  position: absolute;
  top: -0.5rem;
  left: -1.875rem;
  color: var(--base-color);
}

#testimonials cite {
  display: flex;
  align-items: center;
}

#testimonials cite img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  clip-path: circle();
  margin-right: 0.5rem;
}


/* Swiper */

.swiper-slide {
  height: auto;
  padding: 4rem 1rem;
}

.swiper-pagination-bullet-active {
  background: var(--base-color);
}


/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
  }
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
  }
}
@media (max-width:991px){
  html{
    font-size: 55%;
  }
  .content{
    padding:2rem;
  }
}
@media (max-width:768px){
  .content .search-form{
    width:90%;
  }
}

@media (max-width:450px){
  html{
    font-size: 50%;
  }
  .heading{
    font-size: 2.5rem;
  }
}
@media (min-width: 1200px) {
  /* reusable classes */
  .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: 10rem 0;
  }

  .section header,
  #testimonials header {
    max-width: 32rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .button {
    height: 3.125rem;
  }



.swiper-pagination-bullet-active {
  background: var(--base-color);
}

  /* layout */
  main {
    margin-top: var(--header-height);
  }

  /* home */
  #home .container {
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 0 auto;
  }

  #home .image {
    order: 1;
  }

  #home .text {
    order: 0;
    max-width: 24rem;
    text-align: left;
  }

  /* about */
  #about .container {
    margin: 0 auto;
    grid-auto-flow: column;
  }

  /* services */
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  /* testimonials */
  #testimonials .container {
    margin-left: auto;
    margin-right: auto;
  }

  /* contact */
  #contact .container {
    grid-auto-flow: column;
    align-items: center;
  }

  #contact .text {
    max-width: 25rem;
  }

  /* footer */
  footer.section {
    padding: 3.75rem 0;
  }

  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  footer .logo {
    font-size: 2.25rem;
  }
}

/* large devices: 1023 > */
@media (min-width: 1023px) {
}

/* large devices 992 > */
@media (min-width: 992px) {
  :root {
    --title-font-size: 2.25rem;
    --subtitle-font-size: 1.125rem;
  }
}

/* medium devices: 767 > */
@media (min-width: 767px) {
}
